<header>
    <h1>Курс "Линейное программирование"</h1>
    <nav aria-label="Главное меню">
        <ul>
            <li {{ page.url | isActive("/") | safe }}><a href="/">Главная</a></li>
            <li {{ page.url | isActive("/basics/") | safe }}><a href="/basics/">Основные понятия</a></li>
            <li {{ page.url | isActive("/simplex/") | safe }}><a href="/simplex/">Симплекс-метод</a></li>
            <li {{ page.url | isActive("/duality/") | safe }}><a href="/duality/">Двойственность</a></li>
            <li {{ page.url | isActive("/glossary/") | safe }}><a href="/glossary/">Глоссарий</a></li>
            <li {{ page.url | isActive("/literature/") | safe }}><a href="/literature/">Литература</a></li>
            <li {{ page.url | isActive("/test/") | safe }}><a href="/test/">Тест (Гость)</a></li>
            <li {{ page.url | isActive("/register/") | safe }}><a href="/register/">Регистрация</a></li>
            <li {{ page.url | isActive("/login/") | safe }}><a href="/login/">Вход</a></li>
        </ul>
    </nav>
</header>
