---
layout: content-page.njk
title: Симплекс-метод - Курс "Линейное программирование"
description: Симплекс-метод решения задач линейного программирования - построение допустимых решений, критерий оптимальности, симплекс-таблица, алгоритм
breadcrumb: Симплекс-метод
includeMathJax: true
sections:
  - id: section2_1
    title: 2.1. Построение допустимого базисного решения
  - id: section2_2
    title: 2.2. Критерий оптимальности
  - id: section2_3
    title: 2.3. Симплекс-таблица. Преобразование симплекс-таблицы
  - id: section2_4
    title: 2.4. Алгоритм симплекс-метода
  - id: section2_5
    title: 2.5. Зацикливание и борьба с ним
  - id: section2_6
    title: 2.6. Метод искусственного базиса
  - id: section2_7
    title: 2.7. М-метод искусственного базиса
---

<h2>Глава 2. Симплекс-метод</h2>

<h3 id="section2_1">2.1. Построение допустимого базисного решения</h3>
<p>Рассмотрим задачу ЛП в канонической форме:</p>
<p>$$
\min cx
$$</p>
<p>$$
Ax=b
$$</p>
<p>$$
x\geq 0. \quad (2.1)
$$</p>
<p>С помощью элементарных преобразований ее можно привести к задаче следующего вида:</p>
<p>$$
\min c_1 x_1 + c_2 x_2 + ... + c_n x_n
$$</p>
<p>$$
\begin{aligned}
x_1 \quad + a_{1m+1}x_{m+1} + ... + a_{1n}x_n &= b_1 \\
x_2 \quad + a_{2m+1}x_{m+1} + ... + a_{2n}x_n &= b_2 \\
&... \\
x_m \quad + a_{mm+1}x_{m+1} + ... + a_{mn}x_n &= b_m
\end{aligned}
$$</p>
<p>$$
x_j \geq 0, j = 1..n. \quad (2.2)
$$</p>
<p>Заметим, что мы для простоты сохранили обозначения столбцов $A_{m+1}, ..., A_n$, и вектора $b$, хотя они и изменились.</p>
<p>Рассмотрим вектор $x^0 = (b_1, b_2, ..., b_m, 0, ..., 0)$. Очевидно, что по определению этот вектор является базисным решением задачи ЛП (2.2).</p>
<p>Будет ли этот вектор допустимым решением? Ясно, что в общем случае ответ отрицательный. Однако мы можем рассмотреть частный случай, когда в задаче (2.2) $b_i \geq 0$. В этом случае вектор $x^0 = (b_1, b_2, ..., b_m, 0, ..., 0)$ уже будет допустимым базисным решением (д.б.р.) задачи (2.2).</p>
<p>Ограничимся пока рассмотрением такого частного случая. Позднее мы увидим, что общий случай задачи ЛП (2.1) легко сводится к рассматриваемому здесь частному случаю. Попытаемся построить новое д.б.р. $x^1$.</p>
<p>Обозначим вектор $x^0 = (x_{10}, x_{20}, ..., x_{m0}, 0, ..., 0)$, а вектор $b=A_0$. Очевидно, что $x_{10}A_1 + x_{20}A_2 + ... + x_{m0}A_m = A_0$ (*).</p>
<p>Соотношение (*) можно рассматривать как разложение вектора $A_0$ по текущему базису. Разложим произвольный вектор $A_k$ по базису $A_1, A_2, ..., A_m$. Получаем:</p>
<p>$$
x_{1k}A_1 + x_{2k}A_2 + ... + x_{mk}A_m = A_k \quad (**),
$$</p>
<p>где $x_{ik}$ – коэффициенты разложения.</p>
<p>Умножим теперь соотношение (**) на $\theta \geq 0$ и вычтем из (*). Получаем:</p>
<p>$$
(x_{10} - \theta x_{1k})A_1 + (x_{20} - \theta x_{2k})A_2 + ... + (x_{m0} - \theta x_{mk})A_m + \theta A_k = A_0 \quad (2.3)
$$</p>
<p>Из соотношения (2.3) непосредственно вытекает, что вектор</p>
<p>$$
x^1 = (x_{10} - \theta x_{1k}, x_{20} - \theta x_{2k}, ..., x_{m0} - \theta x_{mk}, 0, ..., \theta, ..., 0) \quad (2.4)
$$</p>
<p>является решением задачи ЛП (2.2). Когда это решение будет допустимым? Рассмотрим два случая:</p>
<ol>
    <li>$x_{ik} \leq 0 \quad \forall i$. В этом случае при любом выборе $\theta \geq 0$, решение $x^1$ будет допустимым. Будет ли оно базисным? Если $\theta > 0$, то векторов столбцов, которые соответствуют положительным координатам, будет $m+1$, а любые $m+1$ столбца в $m$-мерном пространстве линейно зависимы. Значит, в этом случае решение базисным не будет.</li>
    <li>$\exists x_{ik} > 0$. В этом случае выберем $\theta \geq 0$ так, чтобы решение $x^1$ было допустимым. Для этого требуется, чтобы $x_{i0} - \theta x_{ik} \geq 0, i = 1..m$.</li>
</ol>
<p>Откуда получаем: $\theta \leq \frac{x_{i0}}{x_{ik}}$ для $x_{ik}>0$. Если мы выберем $\theta \geq 0$:</p>
<p>$$
\theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l0}}{x_{lk}} \quad (2.5),
$$</p>
<p>то все координаты вектора $x^1$ будут неотрицательными, а значит, это будет допустимое решение задачи (2.2). Будет ли оно базисным?</p>
<p>Если мы рассмотрим $l$-ую координату решения $x^1$, то, очевидно, она равна 0, а значит, $l$-ый вектор выходит из базиса, а $k$-ый вектор входит в базис. На основании теоремы о замене вектора в базисе, поскольку коэффициент $x_{lk}>0$, делаем вывод, что решение $x^1$ будет базисным.</p>

<h3 id="section2_2">2.2. Критерий оптимальности</h3>
<p>Снова рассмотрим частный случай задачи ЛП (2.2). Напомним, что вектор $x^0 = (x_{10}, x_{20}, ..., x_{m0}, 0, ..., 0)$ является допустимым базисным решением (д.б.р.) этой задачи. Вычислим значение целевой функции для этого вектора. Обозначим его через $z(x^0)$:</p>
<p>$$
z(x^0) = c_1x_{10} + c_2x_{20} + ... + c_mx_{m0}. \quad (2.6)
$$</p>
<p>Обозначим через $z_k = c_1x_{1k} + c_2x_{2k} + ... + c_mx_{mk}$ и через</p>
<p>$$
\Delta_k = z_k - c_k = (c_б, A_k) - c_k, \quad (2.7)
$$</p>
<p>где $(x_{1k}, x_{2k}, ..., x_{mk})^T$ - коэффициенты разложения вектора $A_k$ по текущему базису, а $c_б = (c_1, c_2, ..., c_m)$ - вектор, составленный из коэффициентов целевой функции, соответствующих базисным векторам. Величины $\Delta_k$ будем называть <strong>оценками.</strong></p>
<p><strong>Теорема 6 (о возможности улучшения д.б.р.).</strong> <em>Если в приведенных выше обозначениях в задаче ЛП 2.2 существует оценка $\Delta_k > 0$, то соответствующее д.б.р. $x^0$ не является оптимальным и существует другое допустимое решение $x^1$, такое что $z(x^1) \leq z(x^0)$.</em></p>
<p><strong>Доказательство.</strong> Умножим соотношение 2.7 на $\theta \geq 0$ и вычтем из соотношения 2.6. Получаем:</p>
<p>$$
c_1(x_{10} - \theta x_{1k}) + c_2(x_{20} - \theta x_{2k}) + ... + c_m(x_{m0} - \theta x_{mk}) + \theta c_k = z(x^0) - \theta (z_k - c_k).
$$</p>
<p>Заметим, что и в левую и в правую часть полученного равенства мы прибавили величину $\theta c_k$. Рассмотрим вектор</p>
<p>$$
x^1 = (x_{10} - \theta x_{1k}, x_{20} - \theta x_{2k}, ..., x_{m0} - \theta x_{mk}, 0, ..., \theta, ..., 0).
$$</p>
<p>Из п. 2.1 следует, что этот вектор является решением задачи ЛП (2.2), при этом если $x_{ik} \leq 0, \forall i$, то он будет допустимым при любом $\theta \geq 0$, если же $\exists x_{ik} > 0$, то, выбрав $\theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l0}}{x_{lk}}$ по критерию (2.5), получим вектор $x^1$, являющийся не только допустимым, но и базисным решением задачи ЛП (2.2). Теперь вернемся к полученному нами равенству и перепишем его в виде:</p>
<p>$$
z(x^1) = z(x^0) - \theta \Delta_k.
$$</p>
<p>Так как $\theta \geq 0$ и $\Delta_k > 0$, то $z(x^1) \leq z(x^0)$ и теорема доказана.</p>
<p><strong>Замечание.</strong> Если в теореме 6 $\theta > 0$, то неравенство $z(x^1) < z(x^0)$ будет строгим.</p>
<p><strong>Теорема 7 (критерий оптимальности).</strong> <em>Если в приведенных выше обозначениях в задаче ЛП 2.2 для д.б.р. $x^0$ все оценки $\Delta_k \leq 0$, то $x^0$- оптимальное решение.</em></p>
<p><strong>Теорема 8.</strong> <em>Если в приведенных выше обозначениях в задаче ЛП 2.2 для д.б.р. $x^0$ существует оценка $\Delta_k > 0$, а $\forall i \quad x_{ik} \leq 0$, то задача 2.2 имеет неограниченную целевую функцию.</em></p>
<p><strong>Доказательство.</strong> Рассмотрим вектор</p>
<p>$$
x^1 = (x_{10} - \theta x_{1k}, x_{20} - \theta x_{2k}, ..., x_{m0} - \theta x_{mk}, 0, ..., \theta, ..., 0).
$$</p>
<p>Из п. 2.1 следует, что этот вектор является решением задачи ЛП (2.2), при этом если $x_{ik} \leq 0, \forall i$, то он будет допустимым при любом $\theta \geq 0$. Из теоремы о возможности улучшения д.б.р. следует, что справедливо соотношение</p>
<p>$$
z(x^1) = z(x^0) - \theta \Delta_k.
$$</p>
<p>Но $\Delta_k > 0, \theta > 0$. И если $\theta \rightarrow \infty$, то $z(x^1) \rightarrow -\infty$. Теорема доказана.</p>

<h3 id="section2_3">2.3. Симплекс-таблица. Преобразование симплекс-таблицы.</h3>
<p>Для удобства проведения расчетов данные задачи заносят в специальные таблицы, которые называют <strong>симплекс-таблицами.</strong> Пусть $x^0$ - начальное д.б.р. задачи 2.2. Рассмотрим структуру симплекс-таблицы.</p>
<p align="center"><strong>Симплекс-таблица</strong></p>
<table border="1" cellpadding="5" align="center">
    <tr>
        <td>Б</td>
        <td>$C_б$</td>
        <td>$A_0$</td>
        <td>$A_1$</td>
        <td>...</td>
        <td>$A_l$</td>
        <td>...</td>
        <td>$A_m$</td>
        <td>$A_k$</td>
        <td>...</td>
        <td>$A_n$</td>
    </tr>
    <tr>
        <td>$A_1$</td>
        <td>$c_1$</td>
        <td>$x_{10}$</td>
        <td>1</td>
        <td>...</td>
        <td>0</td>
        <td>...</td>
        <td>0</td>
        <td>$x_{1k}$</td>
        <td>...</td>
        <td>$x_{1n}$</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>$A_l$</td>
        <td>$c_l$</td>
        <td>$x_{l0}$</td>
        <td>0</td>
        <td>...</td>
        <td>1</td>
        <td>...</td>
        <td>0</td>
        <td>$x_{lk}$</td>
        <td>...</td>
        <td>$x_{ln}$</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>$A_m$</td>
        <td>$c_m$</td>
        <td>$x_{m0}$</td>
        <td>0</td>
        <td>...</td>
        <td>0</td>
        <td>...</td>
        <td>1</td>
        <td>$x_{mk}$</td>
        <td>...</td>
        <td>$x_{mn}$</td>
    </tr>
    <tr>
        <td></td>
        <td>$z(x^0)$</td>
        <td></td>
        <td>$\Delta_1$</td>
        <td>...</td>
        <td>$\Delta_l$</td>
        <td>...</td>
        <td>$\Delta_m$</td>
        <td>$\Delta_k$</td>
        <td>...</td>
        <td>$\Delta_n$</td>
    </tr>
</table>
<p>Итак, если $\Delta_j \leq 0$ для любого $j$, то $x^0$ - на основании теоремы 7 - оптимальное решение, и преобразования симплекс-таблицы не требуется.</p>
<p>Поэтому рассмотрим случай, когда $\exists \Delta_j > 0$. Найдем $\max \Delta_j = \Delta_k$. Если при этом $\forall i = 1..k, x_{ik} \leq 0$, то на основании теоремы 8 целевая функция задачи неограничена. В этом случае также не требуется пересчета симплекс-таблицы. Если же $\exists x_{ik} > 0$, то вычислим $\theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l0}}{x_{lk}}$. В этом случае на основании теоремы 6 возможно улучшение начального д.б.р., если ввести в базис вектор $A_k$, а вывести вектор $A_l$. Рассмотрим, как изменятся коэффициенты разложения всех векторов в симплекс-таблице при таком преобразовании.</p>
<p>$$
x_{1j}A_1 + x_{2j}A_2 + ... + x_{lj}A_l + ... + x_{mj}A_m = A_j \quad (2.8)
$$</p>
<p>$$
x_{1k}A_1 + x_{2k}A_2 + ... + x_{lk}A_l + ... + x_{mk}A_m = A_k. \quad (2.9)
$$</p>
<p>(2.8) и (2.9) - разложение произвольного вектора по текущему базису. Так как $x_{lk}>0$, то из (2.9) можно выразить вектор $A_l$</p>
<p>$$
A_l = - \frac{x_{1k}}{x_{lk}} A_1 - \frac{x_{2k}}{x_{lk}} A_2 - ... + \frac{1}{x_{lk}} A_k + ... - \frac{x_{mk}}{x_{lk}} A_m. \quad (2.10)
$$</p>
<p>Подставим полученное соотношение в (2.8) и приведем подобные члены:</p>
<p>$$
A_j = (x_{1j} - \frac{x_{lj}x_{1k}}{x_{lk}}) A_1 + (x_{2j} - \frac{x_{lj}x_{2k}}{x_{lk}}) A_2 + ... + \frac{x_{lj}}{x_{lk}} A_k + ... + (x_{mj} - \frac{x_{lj}x_{mk}}{x_{lk}}) A_m.
$$</p>
<p>Фактически мы получили разложение произвольного вектора по новому базису, в котором вектор $A_l$ заменен на вектор $A_k$. Если обозначить эти коэффициенты через $x'_{ij}$, то получаем следующие формулы пересчета:</p>
<p>$$
x'_{ij} = \begin{cases}
x_{ij} - \frac{x_{lj}x_{ik}}{x_{lk}}, & i \neq l \\
\frac{x_{lj}}{x_{lk}}, & i = l
\end{cases} \quad (2.11)
$$</p>
<p><strong>Определение. Строку $l$ мы будем называть ведущей строкой. Столбец $k$ – ведущим столбцом, а элемент $x_{lk}$ — ведущим элементом.</strong></p>
<p>Формулы (2.11) означают, что для перехода к новому базису, когда мы вектор $A_l$ заменяем на вектор $A_k$, нужно ведущую строку $l$ поделить на ведущий элемент $x_{lk}$, а затем из каждой строки симплекс-таблицы вычесть преобразованную ведущую строку, умноженную на соответствующий элемент данной строки.</p>
<p>Рассмотрим, как будут выглядеть коэффициенты столбца $A_k$ в новом базисе.</p>
<p>Они получаются, если в формулы (2.11) подставить $j=k$:</p>
<p>$$
x'_{ik} = \begin{cases}
x_{ik} - \frac{x_{lk}x_{ik}}{x_{lk}} = 0, & i \neq l \\
\frac{x_{lk}}{x_{lk}} = 1, & i = l
\end{cases}
$$</p>
<p>Отсюда следует, что для пересчета симплекс-таблицы достаточно с помощью элементарных преобразований над строками добиться того, чтобы вновь вводимый в базис столбец имел такую структуру – на месте ведущего элемента – 1, а остальные элементы столбца – 0.</p>

<h3 id="section2_4">2.4. Алгоритм симплекс-метода</h3>
<p>Рассмотрим задачу ЛП 2.2. Будем считать ее невырожденной. В этих предположениях приведем алгоритм симплекс-метода.</p>
<p align="center"><strong>Алгоритм</strong></p>
<ol>
    <li>Начать с д.б.р. $x^0 = (x_{10}, x_{20}, ..., x_{m0}, 0, ..., 0)$.</li>
    <li>Вычисляем оценки по формуле $\Delta_j = (c_б, A_j) - c_j$.</li>
    <li>Если $\Delta_j \leq 0, \forall j \in 1..n$, то $x^0$ - оптимальное решение, конец, иначе</li>
    <li>Находим $\max \Delta_j = \Delta_k$ (это правило носит рекомендательный характер, поскольку можно выбрать любую положительную оценку).</li>
    <li>Если $x_{ik} \leq 0, \forall i \in 1..m$, то целевая функция неограничена, конец, иначе</li>
    <li>Находим $\theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l0}}{x_{lk}}$.</li>
    <li>Элемент $x_{lk}$ становится ведущим, и делается преобразование симплекс-таблицы по формулам (2.11).</li>
    <li>Переход на 2.</li>
</ol>
<p>В случае, если задача ЛП не вырождена, алгоритм, очевидно, конечен. В самом деле, в этом случае $\theta>0$, а значит, действует замечание к теореме 6, и новое д.б.р. будет таким, что значение целевой функции будет меньше, чем на предыдущем д.б.р. Ну а поскольку допустимых базисных решений конечное число, а на каждом шаге алгоритма мы обязательно переходим к новому д.б.р., то за конечное число итераций алгоритм закончит свою работу либо в п. 3, либо в п.5.</p>

<h3 id="section2_5">2.5. Симплекс-метод в общем случае. Зацикливание. Борьба с зацикливанием</h3>
<p>Рассмотрим задачу ЛП 2.2. Предположим, что она вырожденная. Не умаляя общности, можно считать, что уже начальное д.б.р. $x^0$ вырожденное и что у него первые $r<m$ координат положительны, а остальные равны 0. То есть,</p>
<p>$$
x^0 = (x_{10}, x_{20}, ..., x_{r0}, 0, ..., 0), \quad x_{i0} > 0, i = 1..r.
$$</p>
<p>Запустим алгоритм симплекс-метода, стартовав с д.б.р. $x^0$. Возможны следующие ситуации:</p>
<ol>
    <li>$\Delta_j \leq 0, \forall j \in 1..n$. Тогда $x^0$ - оптимальное решение.</li>
    <li>$\exists \Delta_k > 0, x_{ik} \leq 0$. Тогда целевая функция в задаче 2.2 будет неограничена.</li>
    <li>$\exists \Delta_k > 0, \exists x_{ik} > 0. \theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l0}}{x_{lk}} > 0$. В этом случае выполняется обычная итерация симплекс-метода. Целевая функция уменьшается. Мы переходим к новому д.б.р., и процесс продолжается дальше.</li>
    <li>$\exists \Delta_k > 0, \exists x_{ik} > 0. \theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l_10}}{x_{l_1k}} = \frac{x_{l_20}}{x_{l_2k}} = ... = \frac{x_{l_s0}}{x_{l_sk}} = 0$. В этом случае новое д.б.р. $x^1 = (x_{10} - \theta x_{1k}, x_{20} - \theta x_{2k}, ..., x_{r0} - \theta x_{rk}, 0, ..., \theta, ..., 0)$ будет полностью совпадать с д.б.р. $x^0$. Такая ситуация называется <strong>холостым ходом симплекс-метода.</strong> То есть, само решение не меняется, меняется только базис.</li>
</ol>
<p>Пусть мы сделали несколько холостых ходов. Тогда возможны такие ситуации:</p>
<ol>
    <li>$\Delta_j \leq 0, \forall j \in 1..n$. Тогда получено оптимальное решение.</li>
    <li>$\exists \Delta_k > 0, x_{ik} \leq 0$. Тогда целевая функция в задаче (2.2) будет неограничена.</li>
    <li>$\exists \Delta_k > 0, \exists x_{ik} > 0. \theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} > 0$. В этом случае целевая функция уменьшается. Мы переходим к новому д.б.р., и процесс продолжается дальше.</li>
    <li>Встретился базис, который уже был раньше. Такое явление называется <strong>"зацикливанием".</strong> То есть мы будем находиться на одном и том же д.б.р., бесконечно перебирая базисы по одному и тому же циклу.</li>
</ol>
<p>Следует отметить, что явление "зацикливания" встречается крайне редко. Имеется лишь небольшое количество задач ЛП, на которых и демонстрируется это явление. Тем не менее, было разработано несколько процедур для борьбы с ним. Мы рассмотрим одну такую процедуру.</p>
<p>Заметим, что проблемы возникают при определении вектора, который должен быть выведен из базиса. В случае вырожденности таких векторов может быть несколько. Это возможно тогда, когда при вычислении $\theta$</p>
<p>$$
\theta = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} = \frac{x_{l_10}}{x_{l_1k}} = \frac{x_{l_20}}{x_{l_2k}} = ... = \frac{x_{l_s0}}{x_{l_sk}} = 0, \quad x_{l_10} = x_{l_20} = ... = x_{l_s0} = 0.
$$</p>
<p>И если выбирать один из этих векторов произвольно, то и возможно зацикливание. Поэтому рассмотрим процедуру борьбы с "зацикливанием", которая производит упорядочение таких векторов.</p>
<p align="center"><strong>Строим множество:</strong></p>
<p>$$
I_0 = \{i | \theta_0 = \min_{x_{ik}>0} \frac{x_{i0}}{x_{ik}} \}.
$$</p>
<p>Если $I_0 = \{l_0\}$, то этот вектор выводится из базиса и процесс выбора вектора на этом завершается, иначе строится множество:</p>
<p>$$
I_1 = \{i \in I_0 | \theta_1 = \min_{x_{ik}>0} \frac{x_{i1k}}{x_{ik}} \}.
$$</p>
<p>Если $I_1 = \{l_1\}$, то этот вектор выводится из базиса и процесс выбора вектора на этом завершается, иначе продолжаем до тех пор, пока очередное множество индексов</p>
<p>$$
I_u = \{i \in I_{u-1} | \theta_u = \min_{x_{ik}>0} \frac{x_{iuk}}{x_{ik}} \}
$$</p>
<p>не будет состоять из одного вектора $I_u = \{l_u\}$ и именно этот вектор выводится из базиса.</p>
<p>Почему на некотором этапе множество $I_u = \{l_u\}$ состоит лишь из одного элемента? Если бы это было не так, то в симплекс-таблице получилось бы по крайней мере две одинаковые строки, чего, очевидно, быть не может, так как базисные векторы обязательно должны различаться. Доказательство того, что данная процедура гарантирует алгоритм симплекс-метода от зацикливания, мы приводить не будем. Его можно найти в [1].</p>

<h3 id="section2_6">2.6. Метод искусственного базиса</h3>
<p>Рассмотрим задачу ЛП (2.1)</p>
<p>$$
\begin{aligned}
&\min c_1 x_1 + c_2 x_2 + ... + c_n x_n \\
&A_{11}x_1 + A_{12}x_2 + ... + a_{1n}x_n = b_1 \\
&A_{21}x_1 + A_{22}x_2 + ... + a_{2n}x_n = b_2 \\
&... \\
&a_{m1}x_1 + a_{m2}x_2 + ... + a_{mn}x_n = b_m \\
&x_j \geq 0, j = 1..n
\end{aligned}
$$</p>
<p>Можно считать, что $b_i \geq 0$. Если это не так, то соответствующую строку достаточно умножить на (-1). Вместо этой задачи рассмотрим следующую задачу ЛП:</p>
<p>$$
\min x_{n+1} + x_{n+2} + ... + x_{n+m}
$$</p>
<p>$$
\begin{aligned}
a_{11}x_1 + a_{12}x_2 + ... + a_{1n}x_n + x_{n+1} &= b_1 \\
a_{21}x_1 + a_{22}x_2 + ... + a_{2n}x_n + x_{n+2} &= b_2 \\
&... \\
a_{m1}x_1 + a_{m2}x_2 + ... + a_{mn}x_n + x_{n+m} &= b_m \\
x_j \geq 0, j = 1..n+m.
\end{aligned}
\quad (2.12)
$$</p>
<p>Для этой задачи вектор $x^0 = (0, ..., 0, b_1, b_2, ..., b_m)$, очевидно, будет д.б.р. То, что это решение проверяется непосредственной подстановкой его в систему уравнений (2.12). Допустимость следует из того, что $b_i \geq 0$. Ну а векторы-столбцы</p>
<p>$$
A_{n+1} = \begin{pmatrix} 1 \\ 0 \\ ... \\ 0 \end{pmatrix}, \quad A_{n+2} = \begin{pmatrix} 0 \\ 1 \\ ... \\ 0 \end{pmatrix}, \quad ..., \quad A_{n+m} = \begin{pmatrix} 0 \\ 0 \\ ... \\ 1 \end{pmatrix}
$$</p>
<p>очевидно, линейно независимы.</p>
<p><strong>Определение. Переменные $x_{n+1}, x_{n+2}, ..., x_{n+m}$ называются искусственными переменными, а векторы $A_{n+1}, A_{n+2}, ..., A_{n+m}$ – искусственным базисом.</strong></p>
<p>Запустим алгоритм симплекс-метода для задачи (2.12), взяв в качестве начального д.б.р. $x^0$. Так как целевая функция в задаче (2.12) ограничена снизу нулем, то данная задача обязательно будет иметь оптимальное решение. Обозначим его через $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n, \bar{x}_{n+1}, ..., \bar{x}_{n+m})$. Возможны 2 различных случая:</p>
<ol>
    <li>$\exists \bar{x}_{n+i} > 0$. Докажем, что в этом случае задача (2.1) не имеет допустимых решений. Доказательство проведем от противного. Предположим, что $x'' = (x''_1, x''_2, ..., x''_n)$ есть д.б.р. задачи (2.1). Тогда</li>
</ol>
<p>$$
x' = (x''_1, x''_2, ..., x''_n, 0, ..., 0)
$$</p>
<p> - очевидно есть д.б.р. задачи (2.13). При этом $z(x') = 0, z(\bar{x}) > 0$. Но тогда $z(x') < z(\bar{x})$, что противоречит оптимальности решения $\bar{x}$.</p>
<ol start="2">
    <li>$\bar{x}_{n+i} = 0, \forall i = 1..m$. Тогда $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n, 0, ..., 0)$. Здесь возможны 2 подслучая:</li>
    <ol type="a">
        <li>В базисе нет искусственных векторов. Тогда $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n)$ - д.б.р. задачи (2.1). В симплекс-таблице выбрасываем столбцы с искусственными векторами, заменяем коэффициенты целевой функции задачи (2.12) на коэффициенты задачи (2.1) и продолжаем считать симплекс-методом, пока либо не получим оптимальное решение задачи (2.1), либо не выяснится, что целевая функция неограничена.</li>
        <li>В базисе остались искусственные векторы. Рассмотрим соответствующую симплекс-таблицу. Будем считать, что в ней сначала идут $r$ основных векторов, а потом $(m-r)$ искусственных.</li>
    </ol>
</li>
</ol>

<h3 id="section2_7">2.7. М-метод искусственного базиса</h3>
<p>Рассмотрим другую модификацию метода искусственного базиса.</p>
<p>$$
\min c_1 x_1 + c_2 x_2 + ··· c_n x_n + Mx_{n+1} + Mx_{n+2} + ... + Mx_{n+m}
$$</p>
<p>$$
\begin{aligned}
a_{11}x_1 + a_{12}x_2 + ... + a_{1n}x_n + x_{n+1} &= b_1 \\
a_{21}x_1 + a_{22}x_2 + ... + a_{2n}x_n + x_{n+2} &= b_2 \\
&... \\
a_{m1}x_1 + a_{m2}x_2 + ... + a_{mn}x_n + x_{n+m} &= b_m \\
x_j \geq 0, j = 1.. (n + m), \quad (2.13)
\end{aligned}
$$</p>
<p>Здесь $M>0$ - большое положительное число, которое можно интерпретировать как штраф за то, что искусственная переменная остается в базисе. Поскольку мы решаем задачу минимизации, то симплекс-метод будет стремиться к тому, чтобы все искусственные векторы вышли из базиса, так как если они остаются в базисе, то значение целевой функции сильно возрастает.</p>
<p>Также, как и в предыдущем пункте, можно считать, что $b_i \geq 0$. А значит, и</p>
<p>$$
x^0 = (0, ..., 0, b_1, b_2, ..., b_m)
$$</p>
<p>будет д.б.р. для задачи (2.13). Запустим алгоритм симплекс-метода для задачи (2.13), взяв в качестве начального д.б.р. $x^0$. Возможно 2 варианта:</p>
<ol>
    <li>Получено оптимальное решение $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n, \bar{x}_{n+1}, ..., \bar{x}_{n+m})$. Здесь возможны 2 подслучая:</li>
    <ol type="a">
        <li>$\exists \bar{x}_{n+i} > 0$. Докажем, что в этом случае задача (2.1) не имеет допустимых решений. Доказательство проведем от противного. Предположим $x'' = (x''_1, x''_2, ..., x''_n)$ есть д.б.р. задачи (2.1). Тогда</li>
    </ol>
</li>
</ol>
<p>$$
x' = (x''_1, x''_2, ..., x''_n, 0, ..., 0)
$$</p>
<p>- очевидно есть д.б.р. задачи (2.13). При этом $z(x') = c_1x''_1 + c_2x''_2 + ... + c_nx''_n$, а $z(\bar{x}) = c_1\bar{x}_1 + c_2\bar{x}_2 + ... + c_n\bar{x}_n + M\bar{x}_{n+i}$. Но тогда $z(x') < z(\bar{x})$, что противоречит оптимальности решения $\bar{x}$.</p>
<ol start="2">
    <li value="2">b) $\bar{x}_{n+i} = 0, \forall i = 1..m$. Покажем, что $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n)$ есть оптимальное решение задачи (2.1). Пусть $x'' = (x''_1, x''_2, ..., x''_n)$ есть произвольное д.б.р. задачи (2.1). Тогда $x' = (x''_1, x''_2, ..., x''_n, 0, ..., 0)$, очевидно есть д.б.р. задачи (2.13). Но т.к. $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n, 0, ..., 0)$ - оптимальное решение (2.13), то $z(x') \geq z(\bar{x})$. Но $z(x') = z(x'')$, а $z(\bar{x}) = z(\bar{x})$. Отсюда $z(x'') \geq z(\bar{x})$, что и означает оптимальность д.б.р. $\bar{x} = (\bar{x}_1, \bar{x}_2, ..., \bar{x}_n)$.</li>
    <li>Целевая функция в задаче (2.13) неограничена. Здесь возможны 2 варианта:</li>
    <ol type="a">
        <li>Задача (2.1) имеет допустимые решения. Тогда она имеет неограниченную целевую функцию. Доказательство можно найти в [4].</li>
        <li>Для того, чтобы доказать, что возможна ситуация, когда целевая функция в М-задаче (2.13) неограничена, а задача 2.1 не имеет допустимых решений, достаточно привести пример, показывающий, что такая ситуация возможна. Такой пример можно найти, например, в [4].</li>
    </ol>
</li>
</ol>
